{% extends "base.html" %}
{% load static %}
{% load ophth_tags %}

{% block css %}
<link rel="stylesheet"  type="text/css" href="{% static "/ophthalmology/css/style.css" %}">
{% endblock css %}

{% block content %}
<main>
    <div class="container rec">
        <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
                <li class="breadcrumbs_item breadcrumbs_item-link">Главная</li>
                <li class="breadcrumbs_divider">/ </li>
                <li class="breadcrumbs_item breadcrumbs_item-link">Клинические рекомендации</li>
                <li class="breadcrumbs_divider">/ </li>
                <li class="breadcrumbs_item">Конъюктивиты</li>
            </ul>
        </div>
        <div class="container_inner">
            <div class="recomend_content">
                <div class="block_logo">
                    <img src="{% static "/ophthalmology/images/mz_logo.svg" %}" alt="Logo" class="logo_mz">
                    <h2 class="title_mz">Министерство Здравоохранения Российской Федерации</h2>
                </div>
                <h5 class="clin_rec_title">Клинические рекомендации</h5>
                <h3 class="noz_form_title">{{ recomend.name }}</h3>
                <div class="ofic_data">
                    <ul class="ofic_data_list">
                        <li class="ofic_data_title">Год утверждения (частота пересмотра)</li>
                        <li class="ofic_data_data">{{recomend.year_of_approval}}</li>
                        <li class="ofic_data_title">Пересмотр не позднее:</li>
                        <li class="ofic_data_data">{{ recomend.year_of_revision }}</li>
                        <li class="ofic_data_title">ID</li>
                        <li class="ofic_data_data">{{recomend.rec_id}}</li>
                        <li class="ofic_data_title">Возрастная категория</li>
                        <li class="ofic_data_data">{{recomend.age_category}}</li>
                        <li class="ofic_data_title">Специальность:</li>
                        <li class="ofic_data_data">{{recomend.speciality}}</li>
                        <li class="ofic_data_title">Разработчик клинической рекомендации</li>
                        <li class="ofic_data_data">{{ recomend.developer}}</li>
                        <li class="ofic_data_title r1">{{ recomend.status}}</li>
                    </ul>
                    <hr class="ofic_data_hr">
                </div>
                <div class="table_of_contents">
                    <h3>Оглавление</h3>
                    <ul class="table_of_contents-list">
                        <li class="table_of_contents-item"><a href="#">1. Краткая информация по заболеванию или состоянию (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.1 Определение заболевания или состояния (группы заболеваний или состояний)1.1 Определение заболевания или состояния (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.2 Этиология и патогенез заболевания или состояния (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.3 Эпидемиология заболевания или состояния (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.4 Особенности кодирования заболевания или состояния (группы заболеваний или состояний) по Международной статистической классификации болезней и проблем, связанных со здоровьем</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Список сокращений</h3>
                    <div>{{ recomend.cr_content.list_of_abbreviations | markdown }}</div>
                    <h3>Термины и определения</h3>
                    <div> {{ recomend.cr_content.terms_and_definitions | markdown }}</div>
                    <h3>1. Краткая информация</h3>
                    <h4>1.1 Определение заболевания или состояния (группы заболеваний или состояний)</h4>
                    <div>{{ recomend.cr_content.definition_of_state | markdown }}</div>
                    <h4>1.2 Этиология и патогенез заболевания или состояния (группы заболеваний или состояний)</h4>
                    <div>{{ recomend.cr_content.etiology_and_pathogenesis | markdown }}</div>
                    <h4>1.3 Эпидемиология заболевания или состояния</h4>
                    <div>{{ recomend.cr_content.epidemiology | markdown }}</div>
                    <h4>1.4 Особенности кодирования заболевания или состояния</h4>
                    <div>{{ recomend.cr_content.coding | markdown }}</div>
                    <h4>1.5 Классификация заболевания или состояния</h4>
                    <div>{{ recomend.cr_content.classification | markdown }}</div>
                    <h4>1.6 Клиническая картина заболевания или состояния</h4>
                    <div>{{ recomend.cr_content.clinical_picture | markdown }}</div>
                    <h3>2. Диагностика</h3>
                    <div>{{ recomend.cr_content.diagnostics | markdown }}</div>
                    <h4>2.1 Жалобы и анамнез</h4>
                    <div>{{ recomend.cr_content.complaints_and_anamnesis | markdown }}</div>
                    <h4>2.2 Физикальное обследование</h4>
                    <div>{{ recomend.cr_content.physical_examination | markdown }}</div>
                    <h4>2.3 Лабораторные исследования</h4>
                    <div>{{ recomend.cr_content.laboratory_research | markdown }}</div>
                    <h4>2.4 Инструментальные исследования</h4>
                    <div>{{ recomend.cr_content.instrumental_research | markdown }}</div>
                    <h4>2.5 Иные исследования</h4>
                    <div>{{ recomend.cr_content.other_studies | markdown }}</div>
                    <h3>3. Лечение</h3>
                    <div>{{ recomend.cr_content.treatment | markdown }}</div>
                    <h3>4.Реабилитация</h3>
                    <div>{{ recomend.cr_content.rehabilitation | markdown }}</div>
                    <h3>5. Профилактика</h3>
                    <div>{{ recomend.cr_content.prevention | markdown }}</div>
                    <h3>6. Организация оказания медицинской помощи</h3>
                    <div>{{ recomend.cr_content.organization_of_medical_care | markdown }}</div>
                    <h3>7. Дополнительная информация</h3>
                    <div>{{ recomend.cr_content.additional_information | markdown }}</div>



                </div>
    
            </div>

        </div>

    </div>
</main>
{% endblock content %}