{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet"  type="text/css" href="{% static "/ophthalmology/css/style.css" %}">
{% endblock css %}

{% block content %}
<main>
    <div class="container rec">
        <div class="breadcrumbs">
            <ul class="breadcrumbs_list">
                <li class="breadcrumbs_item breadcrumbs_item-link">Главная</li>
                <li class="breadcrumbs_divider">/ </li>
                <li class="breadcrumbs_item breadcrumbs_item-link">Клинические рекомендации</li>
                <li class="breadcrumbs_divider">/ </li>
                <li class="breadcrumbs_item">Конъюктивиты</li>
            </ul>
        </div>
        <div class="container_inner">
            <div class="recomend_content">
                <div class="block_logo">
                    <img src="{% static "/ophthalmology/images/mz_logo.svg" %}" alt="Logo" class="logo_mz">
                    <h2 class="title_mz">Министерство Здравоохранения Российской Федерации</h2>
                </div>
                <h5 class="clin_rec_title">Клинические рекомендации</h5>
                <h3 class="noz_form_title">Конъюнктивиты</h3>
                <div class="ofic_data">
                    <ul class="ofic_data_list">
                        <li class="ofic_data_title">Год утверждения (частота пересмотра)</li>
                        <li class="ofic_data_data">2024</li>
                        <li class="ofic_data_title">Пересмотр не позднее:</li>
                        <li class="ofic_data_data">2026</li>
                        <li class="ofic_data_title">ID</li>
                        <li class="ofic_data_data">629_2</li>
                        <li class="ofic_data_title">Возрастная категория</li>
                        <li class="ofic_data_data">Взрослые, дети</li>
                        <li class="ofic_data_title">Специальность:</li>
                        <li class="ofic_data_data"></li>
                        <li class="ofic_data_title">Разработчик клинической рекомендации</li>
                        <li class="ofic_data_data">Общероссийская общественная организация "Ассоциация врачей-офтальмологов", Общероссийская общественная организация «Общество офтальмологов России»</li>
                        <li class="ofic_data_title r1">Одобрены</li>
                    </ul>
                    <hr class="ofic_data_hr">
                </div>
                <div class="table_of_contents">
                    <h3>Оглавление</h3>
                    <ul class="table_of_contents-list">
                        <li class="table_of_contents-item"><a href="#">1. Краткая информация по заболеванию или состоянию (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.1 Определение заболевания или состояния (группы заболеваний или состояний)1.1 Определение заболевания или состояния (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.2 Этиология и патогенез заболевания или состояния (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.3 Эпидемиология заболевания или состояния (группы заболеваний или состояний)</a></li>
                        <li class="table_of_contents-item"><a href="#">1.4 Особенности кодирования заболевания или состояния (группы заболеваний или состояний) по Международной статистической классификации болезней и проблем, связанных со здоровьем</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Список сокращений</h3>
                    <p>АК – аллергический конъюнктивит
                        <br><br>
                        БК – бактериальный конъюнктивит
                        <br><br>
                        ВГД — внутриглазное давление
                        <br><br>
                        ВК — вирусный конъюнктивит
                        <br><br>
                        МКБ 10 — международная классификация болезней 10-го пересмотра
                        <br><br>
                        НПВП — нестероидные противовоспалительные препараты
                        <br><br>
                        СК – конъюнктивит при синдроме «сухого глаза»
                        <br><br>
                        ССГ – синдром сухого глаза
                        <br><br>
                        ХК – хламидийный конъюнктивит
                        <br><br>
                        ** – данным знаком обозначается лекарственный препарат, который используется по показаниям согласно инструкции его применения
                        <br><br>
                        # – данным знаком обозначается лекарственный препарат, который используется по показаниям, которые не входят в инструкцию по применению лекарственного препарата.</p>
                    <h3>Термины и определения</h3>
                    <p><strong>Конъюнктивит</strong> - это воспалительная реакция конъюнктивы на различные воздействия, характеризующаяся гиперемией и отеком век, слизистой оболочки глаза, характерным отделяемым в конъюнктивальной полости, образованием фолликулов и/или сосочков.
                        <br>
                        <strong>Конъюнквальная инъекция</strong>  - пассивная дилатация конъюнктивальных сосудов
                        <br>
                        <strong>Фолликулы</strong> представляют собой желтовато-белые, дискретные, круглые возвышения конъюнктивы, образующиеся в результате лимфоцитарной реакции
                        <br>
                        <strong>Сосочки</strong> образуются в результате реактивной, опосредованной гистамином сосудистой реакции за счет отека и инфильтрации конъюнктивы полиморфоядерными гранулоцитами, лимфоцитами и плазматическими клетками.
                        <br>
                        <strong>Конъюнктивальные мембраны</strong>  -  фибринозный экссудат, который проник в поверхностные слои эпителия конъюнктивы</p>
                    <h3>1. Краткая информация</h3>
                    <div class="content_sub">
                        <h4>1.1 Определение заболевания или состояния (группы заболеваний или состояний)</h4>
                        <p><strong>Конъюнктивит</strong> - это воспалительная реакция конъюнктивы на различные воздействия, характеризующаяся гиперемией и отеком век, слизистой оболочки глаза, характерным отделяемым в конъюнктивальной полости, образованием фолликулов и/или сосочков. [1-3].</p>
                        <h4>1.2 Этиология и патогенез заболевания или состояния (группы заболеваний или состояний)</h4>
                        <p><strong>По этиологии конъюнктивиты делятся на следующие группы:</strong>
                            <p><strong>Инфекционный конъюнктивит:</strong></p>
                            <ul>
                                <li>Бактериальный</li>
                                <li>Вирусный</li>
                                <li>Хламидийный</li>
                            </ul>
                            <p><strong>Неинфекционный конъюнктивит:</strong></p>
                            <ul>
                                <li>Аллергический</li>
                                <li>Конъюнктивит при синдроме «сухого глаза»</li>
                                <li>Конъюнктивит неуточненный</li>
                                <li>Другие уточненные болезни конъюнктивы</li>

                            </ul>
                    
                    
                    </div>
                    <h3>2. Диагностика</h3>
                    <p></p>
                    <h3>2.1 Жалобы и анамнез</h3>
                    <p></p>

                </div>
    
            </div>

        </div>

    </div>
</main>
{% endblock content %}