{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main">
    <section class="top">
        <div class="container">
            <div class="top__inner">
                <h1 class="top__title">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </h1>
                <p class="top__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, cupiditate? Temporibus facilis
                    ullam natus dolorem corporis voluptatibus ad fugit labore.
                </p>
            </div>
        </div>
    </section>
    <blockquote class="blockquote__text">
        <p>
            "Lorem ipsum dolor sit corporis amet consectetur adipisicing elit. Assumenda consectetur placeat quis
            incidunt dolor!"
        </p>
    </blockquote>
    <section class="assortment">
        <div class="container">
            <h2 class="assortment__title">Lorem ipsum dolor</h2>
            <ul class="assortment__list">
                <li class="assortment__item">
                    <a href="{% url "math:mathematics" %}" class="assortment__item-link">
                        <img src="{% static "images/school.png" %}" alt="" class="assortment__img">
                        <p class="assortment__name">Обучение</p>
                    </a>
                </li>
                <li class="assortment__item">
                    <a href="#" class="assortment__item-link">
                        <img src="{% static "images/keyboard.png" %}" alt="" class="assortment__img">
                        <p class="assortment__name">Технологии</p>
                    </a>
                </li>
                <li class="assortment__item">
                    <a href="{% url "ophthalmology:recomend_list" %}" class="assortment__item-link">
                        <img src="{% static "images/medicine.png" %}" alt="" class="assortment__img">
                        <p class="assortment__name">Медицина</p>
                    </a>
                </li>
                <li class="assortment__item">
                    <a href="#" class="assortment__item-link">
                        <img src="{% static "images/game.png" %}" alt="" class="assortment__img">
                        <p class="assortment__name">Развлечения</p>
                    </a>
                </li>
                <li class="assortment__item">
                    <a href="#" class="assortment__item-link">
                        <img src="{% static "images/running.png" %}" alt="" class="assortment__img">
                        <p class="assortment__name">Спорт</p>
                    </a>
                </li>

            </ul>
        </div>
    </section>
    <section class="reviews">
        <div class="container">
            <h2 class="title">
                What our clients say?
            </h2>
            <ul class="reviews__list">
                <li class="reviews__item">
                    <blockquote>
                        <p class="reviews__text">
                            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eum ad numquam at qui
                            omnis."
                        </p>
                        <cite class="rewiews__name">Alex Pushkin</cite>
                    </blockquote>
                </li>
                <li class="reviews__item">
                    <blockquote>
                        <p class="reviews__text">
                            "Lorem ipsum dolor sit amet sert abitun, consectetur adipisicing elit. Soluta, velit.
                            Optio dolor
                            perspiciatis sequi rerum?"
                        </p>
                        <cite class="rewiews__name">Julia Roberts</cite>
                    </blockquote>
                </li>
                <li class="reviews__item">
                    <blockquote>
                        <p class="reviews__text">
                            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse officia debitis
                            molestias
                            eveniet neque!"
                        </p>
                        <cite class="rewiews__name">Jo Baiden</cite>
                    </blockquote>
                </li>
                <li class="reviews__item">
                    <blockquote>
                        <p class="reviews__text">
                            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum suscipit soluta iste!"
                        </p>
                        <cite class="rewiews__name">Alex Cendell</cite>
                    </blockquote>
                </li>
            </ul>
        </div>
    </section>
    <section class="main-blog">
        <div class="container">
            <h2 class="title main-blog__title">Our Blog</h2>
            <ul class="main-blog__list">
                <li class="main-blog__item">
                    <img src="{% static "images/blog-1.jpg" %}" alt="" class="main-blog__item-img">
                    <div class="main-blog__item-content">
                        <h3 class="main-blog__item-title">Цифровые двойники и ИИ: как автоматизация меняет
                            металлургию и нефтегаз</h3>
                        <a href="#" class="main-blog__item-author">Кирилл Заболотский</a>
                        <a href="#" class="main-blog__item-link">Read</a>
                    </div>
                </li>
                <li class="main-blog__item">
                    <img src="{% static "images/blog-2.jpg" %}" alt="" class="main-blog__item-img">
                    <div class="main-blog__item-content">
                        <h3 class="main-blog__item-title">Обзор Acer Swift X 14: и поиграть, и поработать</h3>
                        <a href="#" class="main-blog__item-author">Константин Гагарин
                        </a>
                        <a href="#" class="main-blog__item-link">Read</a>
                    </div>
                </li>
                <li class="main-blog__item">
                    <img src="{% static "images/blog-3.jpg" %}" alt="" class="main-blog__item-img">
                    <div class="main-blog__item-content">
                        <h3 class="main-blog__item-title">Обзор Huawei Mate X6: красивый и надежный складной
                            смартфон нового поколения</h3>
                        <a href="#" class="main-blog__item-author">Иван Остапенко
                        </a>
                        <a href="#" class="main-blog__item-link">Read</a>
                    </div>
                </li>
                <li class="main-blog__item">
                    <img src="{% static "images/blog-4.jpg" %}" alt="" class="main-blog__item-img">
                    <div class="main-blog__item-content">
                        <h3 class="main-blog__item-title">Для чего в Якутии заготавливают питьевой лед.</h3>
                        <a href="#" class="main-blog__item-author">Вася Воробьев</a>
                        <a href="#" class="main-blog__item-link">Read</a>
                    </div>
                </li>
            </ul>
            <div class="main-blog__link">
                <a href="#">Смотреть всё</a>
            </div>
        </div>
    </section>
    <section class="mailing-list">
        <div class="container">
            <h2 class="title mailing-list__title">Хочешь знать больше?</h2>
            <div class="mailing-list__inner">
                <p class="mailing-list__text">
                    Отправляем только полезное
                    Лучшие практики email-маркетинга, интересные кейсы из мира eCommerce и важные обновления
                    платформы
                </p>
                <form action="" class="mailing-list__form">
                    <input type="email" class="mailing-list__email" placeholder="  name@email.com">
                    <button class="mailing-list__btn" type="submit">Join</button>
                    <label for="checkbox" class="mailing-list__label">
                        <input class="checkbox" type="checkbox">
                        <p class="checkbox__text">Внимательно изучите нашу Политику конфиденциальности, чтобы знать,
                            какие сведения мы собираем,
                            в каких целях их используем и как Вы можете их изменять, экспортировать или удалять.</p>

                    </label>
                </form>

            </div>
        </div>
    </section>
    <section class="prioritise">
        <div class="container">
            <h2 class="title">Преимущества программы</h2>
            <ul class="prioritise__list">
                <li class="prioritise__item">
                    <img class="prioritise__item-img" src="{% static "images/prioritise-1.svg" %}" alt="">
                    <h4 class="prioritise__title">Бонусы за покупку</h4>
                    <p class="p prioritise__text">Часть потраченной на АЗС суммы возвращается в виде бонусов на
                        карту</p>
                </li>
                <li class="prioritise__item">
                    <img src="{% static "images/prioritise-2.svg" %}" alt="">
                    <h4 class="prioritise__title">Покупка с выгодой</h4>
                    <p class="p prioritise__text">Используйте накопленные бонусы для оплаты топлива, а также товаров
                        кафе и магазина на АЗС</p>
                </li>
                <li class="prioritise__item">
                    <img src="{% static "images/prioritise-3.svg" %}" alt="">
                    <h4 class="prioritise__title">Эксклюзивные предложения</h4>
                    <p class="p prioritise__text">Специальные акции только для участников программы лояльности</p>
                </li>
                <li class="prioritise__item">
                    <img src="{% static "images/prioritise-4.svg" %}" alt="">
                    <h4 class="prioritise__title">Личный кабинет</h4>
                    <p class="p prioritise__text">Заходите в личный кабинет или устанавливайте приложение, чтобы
                        управлять своим бонусным счетом</p>
                </li>
            </ul>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <ul class="footer__products">
                <li class="footer__products-title">Разделы
                </li>
                <li class="footer__products-item">
                    <a href="#" class="footer__products-link">Обучение</a>
                </li>
                <li class="footer__products-item">
                    <a href="#" class="footer__products-link">Технологии</a>
                </li>
                <li class="footer__products-item">
                    <a href="#" class="footer__products-link">Медицина</a>
                </li>
                <li class="footer__products-item">
                    <a href="#" class="footer__products-link">Развлечения</a>
                </li>
                <li class="footer__products-item">
                    <a href="#" class="footer__products-link">Спорт</a>
                </li>
            </ul>
            <ul class="footer__company">
                <li class="footer__company-title"> Company
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">About Us</a>
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">Contact Us</a>
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">Our Blog</a>
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">FAQ</a>
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">Shipping & Delivery</a>
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">Refund policy</a>
                </li>
                <li class="footer__company-item">
                    <a href="#" class="footer__company-link">Terms of Service</a>
                </li>
            </ul>
            <blockquote class="footer__blockquote">
                <p class="footer__blockquote-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    nobis illum dolore tempore ipsam eaque provident, ut fugiat aliquid necessitatibus!
                </p>
                <cite class="footer__blockquote-author">Franklin Burton<span>writer</span></cite>
            </blockquote>
            <div class="footer__contacts">
                <h5 class="footer__contacts-title">Stay In Touch</h5>
                <p class="footer__contacts-text">
                    Lorem amet consectetur adipisicing elit. Repellat voluptatem at reiciendis. Aliquam, beatae temporibus.
                </p>
                <ul class="footer__nav">
                    <li class="footer__nav-logo">
                        <a href="#" class="footer__logo">
                            <img src="{% static "images/logo-med.png" %}" alt="">
                        </a>
                    </li>
                    <li class="footer__nav-contacts">
                        <a class="footer__nav-phone" href="tel:+78121000011">+7 812 100 00 11</a>
                        <a class="footer__nav-email" href="mailto:example@email.com">example@email.com</a>
                    </li>
                    <li class="footer__social">
                        <ul class="footer__social-list">
                            <li class="footer__social-item">
                                <a href="#" class="footer__social-link"><img src="{% static "images/facebook.png" %}" alt=""></a>
                            </li>
                            <li class="footer__social-item">
                                <a href="#" class="footer__social-link"><img src="{% static "images/vk-.png" %}" alt=""></a>
                            </li>
                            <li class="footer__social-item">
                                <a href="#" class="footer__social-link"><img src="{% static "images/telegram.png" %}" alt=""></a>
                            </li>
                            <li class="footer__social-item">
                                <a href="#" class="footer__social-link"><img src="{% static "images/whatsapp.png" %}" alt=""></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="footer__bottom">
            <p class="footer__copy">PrimeLux, 2024</p>
            <ul class="partners-logo">
                <li class="partners-logo__item">
                    <img src="{% static "images/american-express.png" %}" alt="">
                </li>
                <li class="partners-logo__item">
                    <img src="{% static "images/paypal.png" %}" alt="">
                </li>
                <li class="partners-logo__item">
                    <img src="{% static "images/visa.png" %}" alt="">
                </li>
                <li class="partners-logo__item">
                    <img src="{% static "images/mastercard.png" %}" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>

{% endblock content %}
